@model net48_mvc.Entities.pegawai_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="row col-lg-6 col-md-6 col-sm-6">
        <h4>pegawai_tbl</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NAMA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NAMA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EMAIL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EMAIL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GENDER)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GENDER)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HOBY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HOBY)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NIP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NIP)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Update", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <div class="row col-lg-6 col-md-6 col-sm-6">
        <img src="~/Uploaded/@(Model.ID).jpg" alt="Photo Profil" width="150" height="150" class="img-circle">
    </div>
    
</div>


